body {
	background-image: url(/OtelOtomasyon/resources/images/anasayfa.jpg);
	margin: auto;	
	padding: auto;
	color: #000000;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
}